* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}

.products {
  display: flex;
}

.product {
  flex-basis: 20%;
}

.product-image {
  width: auto;
  height: 25rem;
}

.product-info {
  text-align: left;
  padding-left: 1rem;
}

.product-name {
  font-weight: bold;
}

.product-size {
  color: #d6d6d6;
  padding-left: 0.3em;
  border-left: 1px solid #d6d6d6;
}

.product-current-price {
  background-color: #fff2e7;
  font-weight: bold;
}

.product-retail-price {
  color: #d6d6d6;
  padding-left: 0.3em;
}
